/* Stile base per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header con trasparenza */
header {
    background-color: rgba(0, 51, 153, 0.8); /* Colore con trasparenza (80% opaco) */
    color: #fff;
    padding: 10px 20px; /* Ridotto il padding per rendere la barra più stretta */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    position: sticky; /* La barra sarà fissa durante lo scroll */
    top: 0; /* Posiziona la barra sempre in cima alla pagina */
    z-index: 1000; /* Assicurati che la barra rimanga sopra gli altri contenuti */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Aggiunto un'ombra per separarla dalla pagina */
}

/* Logo */
header .logo {
    display: flex;
    align-items: center; /* Allinea il logo e il testo sulla stessa linea */
    gap: 10px; /* Spazio tra l'immagine del logo e il testo */
}

header .logo-img {
    width: 40px; /* Puoi regolare la larghezza del logo a piacere */
    height: auto; /* Mantieni le proporzioni dell'immagine */
}

header .logo h1 {
    margin: 0;
    font-size: 26px; /* Dimensione del titolo */
}

header .logo p {
    font-size: 12px;
    font-style: italic;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

header nav ul li {
    margin-left: 15px;
    margin-top: 0px; /* Ridotto il margine in modo che i link siano ancora più in alto */
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px; /* Ridotto il padding dei link */
    display: inline-block;
}

header nav ul li a:hover {
    text-decoration: underline;
    background-color: #0066cc;
    border-radius: 4px;
}

/* Slideshow */
.slideshow-container {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: 400px; /* Altezza fissa per il container dello slideshow */
    overflow: hidden; /* Nasconde eventuali immagini che escono dal contenitore */
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Riempie il contenitore senza spazi bianchi */
}
/* Per mostrare la slide corrente */
.slide[style*="display: block"] {
    opacity: 1; /* Quando visibile, la slide avrà opacità 1 */
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50px; /* Spostato più a destra (valore aumentato da 40px a 50px) */
    transform: translateY(-50%); /* Centrato verticalmente, ma allineato a sinistra */
    text-align: center; /* Allinea il testo a sinistra */
    z-index: 2;
}

.cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    gap: 20px; /* Spazio tra le card */
    margin: 20px;
}

.card {
    background: linear-gradient(to bottom, #ffffff, #f9f9f9); /* Gradiente morbido */
    padding: 20px;
    border-radius: 15px; /* Angoli arrotondati più morbidi */
    margin: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1); /* Ombra più intensa */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; /* Transizioni fluide */
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px; /* Altezza aumentata per più spazio */
    border: 2px solid transparent; /* Aggiunta un bordo trasparente per il hover */
}
/* Aggiungi un effetto di sollevamento quando il mouse passa sopra la card */
.card:hover {
    transform: translateY(-8px); /* Solleva la card al passaggio del mouse */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* Ombra più intensa */
    border: 2px solid #0066cc; /* Aggiungi un bordo colorato */
}
/* Stile del titolo della card */
.card-title {
    font-size: 22px; /* Titolo più grande */
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Stile del contenuto della card */
.card-content {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    height: 200px; /* Limita l'altezza per il contenuto */
    overflow: hidden;
}
.card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #003399;
    font-weight: bold;
}
.card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

/* Mostra sempre la descrizione nelle card */
.card .card-description {
    display: block;
    line-height: 1.8; /* Maggiore spazio tra le righe per una lettura più fluida */
    font-size: 18px; /* Rende il testo leggibile e moderno */
    color: #333; /* Un grigio molto scuro per una lettura elegante */
    margin-bottom: 20px; /* Più spazio sotto il testo per separarlo dal resto */
    font-family: 'Roboto', sans-serif; /* Un font moderno e pulito */
    text-align: left; /* Testo allineato a sinistra per un aspetto più professionale */
    letter-spacing: 0.5px; /* Aggiunta di uno spazio tra le lettere per un look più sofisticato */
    transition: color 0.3s ease, transform 0.3s ease; /* Transizione fluida al passaggio del mouse */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sottile ombra per un effetto di leggerezza */
}



/* Se vuoi anche aggiungere una riga orizzontale elegante sotto la descrizione */


.card .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
/* Effetto hover per il pulsante */
.card .button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Ingrossa il pulsante al passaggio del mouse */
}

/* Overlay per mostrare maggiori dettagli (visibile solo al passaggio del mouse) */
.card:hover .card-details {
    opacity: 1; /* Rende visibile il contenuto extra */
    transform: translateY(0); /* Rende il contenuto accessibile */
}
/* Dettagli aggiuntivi che appaiono sopra la card al passaggio del mouse */
.card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px); /* Rende i dettagli nascosti inizialmente */
    opacity: 0; /* Nascosti per default */
    background-color: #f9f9f9; /* Colore di sfondo chiaro per i dettagli */
    color: #333;
    padding: 20px;
    border-radius: 12px; /* Angoli arrotondati */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Animazione per far apparire i dettagli */
    width: 80%; /* Ampiezza della sezione */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra per far risaltare il contenuto */
    z-index: 5; /* Assicurati che il contenuto sia sopra la card */
   
}
/* Quando la card viene cliccata e i dettagli si aprono */
.card.open .card-details {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0); /* Dettagli visibili, animazione fluida */
}
/* Aggiungi un'animazione al testo dei dettagli per apparire lentamente */
.card-details h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #003399; /* Colore per il titolo */
    font-weight: bold;
}

.card-details p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Aggiungi uno spazio tra i paragrafi */
.card-details p + p {
    margin-top: 10px;
}

/* Pulsante per chiudere i dettagli (icona o testo) */
.card-details .close-details {
    display: inline-block;
    background-color: #003399; /* Colore di sfondo blu scuro */
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Effetto hover sul pulsante di chiusura */
.card-details .close-details:hover {
    background-color: #00266d; /* Colore più scuro al passaggio del mouse */
    transform: scale(1.1); /* Leggero ingrandimento del pulsante */
}
/* Pulsante Chiudi */
.close-button {
    background-color:  #00266d; /* Colore rosso */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #0066cc; /* Colore rosso scuro al passaggio del mouse */
}

.read-more {
    display: inline-flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333; /* Colore iniziale del testo */
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: -7px;
    position: relative; /* Per posizionare la linea sottostante */
}

.read-more::after {
    content: ''; /* Crea la pseudo-elemento */
    position: absolute;
    bottom: -3px; /* Posiziona la linea subito sotto il testo */
    left: 0;
    width: 100%; /* La linea coprirà tutta la larghezza del testo */
    height: 2px; /* Altezza della linea */
    background-color: #333; /* Colore iniziale della linea (uguale al colore del testo) */
    transform: scaleX(0); /* Inizialmente la linea non è visibile */
    transform-origin: bottom right;
    transition: transform 0.3s ease; /* Transizione per un effetto fluido */
}

.read-more:hover {
    color: #007bff; /* Cambia il colore del testo quando si passa sopra */
}

.read-more:hover::after {
    transform: scaleX(1); /* Mostra la linea quando si passa sopra */
    background-color: #007bff; /* Colore della linea quando si passa sopra */
}

.read-more i {
    margin-left: 5px;
    transition: color 0.3s ease;
    font-size: 1.2rem; /* Dimensione leggermente più grande */
    transition: transform 0.3s ease, color 0.3s ease;
    color: #0056b3; /* Colore coordinato con il link */
}

/* Contenuto nascosto inizialmente */
.card p {
    display: none;
    transition: all 0.3s ease;
}

/* Mostra il contenuto quando l'elemento viene cliccato */
.card.active p {
    display: block;
}

/* Indicatori sotto il slideshow (pallini) */
.dots-container {
    position: absolute;
    bottom: 20px; /* Posizionati alla parte inferiore del contenitore */
    left: 50%;
    transform: translateX(-50%); /* Centrato orizzontalmente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: #bbb; /* Colore di default dei pallini */
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #0066cc; /* Colore dei pallini attivi */
}

.dot:hover {
    background-color: #003399; /* Colore al passaggio del mouse */
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #003399;
    color: white;  /* Colore delle frecce bianche */
    padding: 10px 20px;  /* Distanza dalle frecce */
    font-size: 30px;  /* Dimensione della freccia */
    border-radius: 5px;  /* Bordo arrotondato */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    z-index: 10;
}
/* Posizione della freccia sinistra */
.prev {
    left: 10px;
}

/* Posizione della freccia destra */
.next {
    right: 10px;
}

/* Hover: cambia il colore di sfondo quando si passa sopra */
.prev:hover, .next:hover {
    background-color: #0066cc;  /* Colore più scuro al passaggio del mouse */
    transform: translateY(-50%) scale(1.1);  /* Leggero ingrandimento e movimento */
}

/* Frecce */
.arrow {
    font-size: 24px;  /* Dimensione della freccia */
}

/* Sezione Intro */
.intro {
    text-align: center;
    padding: 40px;
    background-color: #e6f0ff;
    border-radius: 8px;
    margin-top: 0; /* Eliminato lo spazio tra la barra e la sezione */
}

.intro h2 {
    font-size: 36px;
    color: #003399;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Sezione Docenti, Studenti e Materiali */
.section {
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
    color: #003399;
    margin-bottom: 10px;
    font-size: 24px;
}

.section ul {
    list-style-type: none;
    margin-top: 10px;
}

.section ul li {
    margin: 12px 0;
}

.section ul li a {
    text-decoration: none;
    color: #0066cc;
    font-size: 18px;
}

.section ul li a:hover {
    color: #003399;
    font-weight: bold;
    text-decoration: underline;
}

/* Menu hamburger */
.menu-icon {
    display: none; /* Nascondi l'icona del menù su schermi larghi */
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

footer {
    background-color: #003399; /* Colore di sfondo blu scuro */
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding-top: 20px;
}

.footer-logo {
    flex: 1;
    margin-right: 20px;
}

.footer-logo h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
}

.footer-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li {
    margin: 0 15px;
}

.footer-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.footer-social .social-icon {
    margin-left: 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-social .social-icon:hover {
    text-decoration: underline;
}

.footer-bottom {
    background-color: #00266d;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    color: #b3b3b3;
}

/* Media Queries per schermi più piccoli (mobile) */
@media (max-width: 768px) {
    header {
        padding: 10px 20px; /* Maggiore padding per mobile */
    }

    header nav {
        display: none; /* Nascondi il menù a schermi piccoli */
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 51, 153, 0.9); /* Menu con maggiore trasparenza su mobile */
        position: absolute;
        top: 60px; /* Posiziona il menù sotto la barra */
        left: 0;
        right: 0;
        z-index: 999;
    }

    header nav.active {
        display: flex; /* Mostra il menù quando la classe 'active' è aggiunta */
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    header nav ul li {
        margin: 10px 0; /* Spaziatura verticale per i link */
        text-align: center;
    }

    header nav ul li a {
        font-size: 18px; /* Aumentato leggermente la dimensione del font su mobile */
    }

    .menu-icon {
        display: flex; /* Mostra l'icona del menù su schermi piccoli */
    }

    .menu-icon.active div:nth-child(1) {
        transform: rotate(-45deg); /* Rotazione delle linee dell'icona */
    }

    .menu-icon.active div:nth-child(2) {
        opacity: 0; /* Nasconde la linea centrale */
    }

    .menu-icon.active div:nth-child(3) {
        transform: rotate(45deg); /* Rotazione delle linee dell'icona */
    }

    /* Regola il layout per il slideshow in modalità mobile */
    .slideshow-container {
        height: 250px;
    }

    .slide {
        height: 100%;
    }

    .card {
        max-width: 90%;
    }
}
/* Layout responsive per dispositivi con larghezza inferiore a 1200px (per esempio, tablet) */
@media (max-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    }
}

/* Layout responsive per dispositivi con larghezza inferiore a 768px (per esempio, smartphone) */
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr; /* 1 colonna */
    }
}

/* Stile per la sezione Erasmus+ */
.erasmus-banner {
    background: linear-gradient(to bottom right, #b3e0ff, #d6f0ff); /* Sfondo sfumato celeste con bianco */
    color: #0066cc; /* Colore del testo blu (simile a Erasmus+) */
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Font elegante */
    font-size: 1.4em;
    line-height: 1.5;
    border-radius: 15px; /* Angoli arrotondati */
    margin: 20px 0; /* Spazio sopra e sotto */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leggera ombra per far risaltare la sezione */
}

/* Stile per il testo */
.erasmus-banner p {
    margin: 0;
    padding: 10px;
}

/* Aggiungi uno spazio tra le righe */
.erasmus-banner br {
    margin-bottom: 10px;
}
.erasmus-banner .title {
    font-family: 'Roboto', sans-serif; /* Font per il titolo */
    font-size: 1em; /* Grandezza per il titolo */
    font-weight: 700; /* Grassetto per il titolo */
    line-height: 1.2;
    letter-spacing: 2px; /* Distanza tra le lettere */
    text-transform: uppercase; /* Maiuscolo per il titolo */
    margin: 0;
}

/* Stile per il sottotitolo */
.erasmus-banner .subtitle {
    font-family: 'Roboto', sans-serif; /* Font più leggero */
    font-size: 0.9em; /* Dimensione più piccola per il sottotitolo */
    font-weight: 400; /* Normale per il sottotitolo */
    margin-top: 15px;
    font-style: italic; /* Corsivo per il sottotitolo */
}

/* Stile per OID */
.erasmus-banner .oid {
    font-family: 'Roboto', sans-serif; /* Font più leggero */
    font-size: 1.2em; /* Più piccolo per OID */
    font-weight: 300; /* Leggero per OID */
    margin-top: 10px;
}
.allegati {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Impostiamo che la sottosezione è nascosta di default */
}

.allegati a {
    text-decoration: none;
    color: #616467;
    display: block;
    margin: 5px 0;
}

.allegati a:hover {
    text-decoration: underline;
}



.close-button {
    margin-top: 8px;
    padding: 5px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #007bff;
}
/* Font personalizzati se vuoi usare Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');