/* Stile base per tutti gli elementi */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header con trasparenza */
header {
    background-color: rgba(0, 51, 153, 0.8); /* Colore con trasparenza (80% opaco) */
    color: #fff;
    padding: 10px 20px; /* Ridotto il padding per rendere la barra più stretta */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

/* Logo */
header .logo {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

header .logo-img {
    width: 40px; 
    height: auto; 
}

header .logo h1 {
    margin: 0;
    font-size: 26px; 
}

header .logo p {
    font-size: 12px;
    font-style: italic;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

header nav ul li {
    margin-left: 15px;
    margin-top: 0px; 
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px; 
    display: inline-block;
}

header nav ul li a:hover {
    text-decoration: underline;
    background-color: #0066cc;
    border-radius: 4px;
}

/* Slideshow */
.slideshow-container {
    margin-bottom: 50px;
    position: relative;
    width: 100%;
    height: 400px; 
    overflow: hidden;
    border-radius: 10px;
}
.slide img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: content; 
    transition: opacity 1s ease-in-out;
}

.slide[style*="display: block"] {
    opacity: 1; 
}

.slide-content {
    position: absolute;
    top: 50%;
    left: 50px; 
    transform: translateY(-50%); 
    text-align: center; 
    z-index: 2;
}

.cards-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    justify-items: center; 
    align-items: center; 
    padding: 0 20px; 
}

.card {
    background: linear-gradient(to bottom, #ffffff, #f9f9f9); 
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease; 
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 200px; 
    border: 2px solid transparent;
}

.card:hover {
    transform: translateY(-1px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    border: 2px solid #0066cc; 
}
/* Stile del titolo della card */
.card-title {
    font-size: 22px; 
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

/* Stile del contenuto della card */
.card-content {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    height: 200px; 
    overflow: hidden;
}
.card h3 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #003399;
    font-weight: bold;
}
.card h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}


.card .card-description {
    display: block;
    line-height: 1.8; 
    font-size: 18px; 
    color: #333; 
    margin-bottom: 20px; 
    font-family: 'Roboto', sans-serif; 
    text-align: left; 
    letter-spacing: 0.5px; 
    transition: color 0.3s ease, transform 0.3s ease; 
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
}
.card .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card .button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


.card:hover .card-details {
    opacity: 1; 
    transform: translateY(0); 
}
.card-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px); 
    opacity: 0; 
    background-color: #f9f9f9; 
    color: #333;
    padding: 20px;
    border-radius: 12px; 
    transition: opacity 0.4s ease, transform 0.4s ease; 
    width: 80%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 5; 
   
}

.card.open .card-details {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0); 
}

.card-details h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    color: #003399; /* Colore per il titolo */
    font-weight: bold;
}

.card-details p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
/* Aggiungi uno spazio tra i paragrafi */
.card-details p + p {
    margin-top: 10px;
}

/* Pulsante per chiudere i dettagli (icona o testo) */
.card-details .close-details {
    display: inline-block;
    background-color: #003399; /* Colore di sfondo blu scuro */
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.card-details .close-details:hover {
    background-color: #00266d; /
    transform: scale(1.1); 
}

.close-button {
    background-color:  #00266d; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.close-button:hover {
    background-color: #0066cc; 
}

.read-more {
    display: inline-flex;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333; 
    text-decoration: none;
    transition: all 0.3s ease;
    margin-top: -7px;
    position: relative; 
}

.read-more::after {
    content: ''; 
    position: absolute;
    bottom: -3px; 
    left: 0;
    width: 100%; 
    height: 2px; 
    background-color: #333; 
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease; 
}

.read-more:hover {
    color: #007bff; 
}

.read-more:hover::after {
    transform: scaleX(1); 
    background-color: #007bff; 
}

.read-more i {
    margin-left: 5px;
    transition: color 0.3s ease;
    font-size: 1.2rem; 
    transition: transform 0.3s ease, color 0.3s ease;
    color: #0056b3; 
}
.card p {
    display: none;
    transition: all 0.3s ease;
}
.card.active p {
    display: block;
}
.dots-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #0066cc; 
}

.dot:hover {
    background-color: #003399; 
}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: #0066cc; 
    padding: 10px 20px;  
    font-size: 30px;  
    border-radius: 5px;  
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    z-index: 10;
}

.prev {
    left: 10px;
}
.next {
    right: 10px;
}

.section {
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.section h3 {
    color: #003399;
    margin-bottom: 10px;
    font-size: 24px;
}

.section ul {
    list-style-type: none;
    margin-top: 10px;
}

.section ul li {
    margin: 12px 0;
}

.section ul li a {
    text-decoration: none;
    color: #0066cc;
    font-size: 18px;
}

.section ul li a:hover {
    color: #003399;
    font-weight: bold;
    text-decoration: underline;
}
.menu-icon {
    display: none; 
    flex-direction: column;
    cursor: pointer;
}

.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

footer {
    background-color: #003399; 
    color: white;
    padding: 40px 20px;
    text-align: center;
    margin-top: 100px;
}
.footer-bottom {
    background-color: #00266d;
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    color: #b3b3b3;
}

/* Media Queries per schermi più piccoli (mobile) */
@media (max-width: 768px) {
    header {
        padding: 10px 20px; 
    }

    header nav {
        display: none; 
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 51, 153, 0.9); 
        position: absolute;
        top: 60px; 
        left: 0;
        right: 0;
        z-index: 999;
    }

    header nav.active {
        display: flex; 
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    header nav ul li {
        margin: 10px 0; 
        text-align: center;
    }

    header nav ul li a {
        font-size: 18px; 
    }

    .menu-icon {
        display: flex; 
    }

    .menu-icon.active div:nth-child(1) {
        transform: rotate(-45deg); 
    }

    .menu-icon.active div:nth-child(2) {
        opacity: 0; 
    }

    .menu-icon.active div:nth-child(3) {
        transform: rotate(45deg); 
    }
    .slideshow-container {
        height: 250px;
    }

    .slide {
        height: 200%;
    }

    .card {
        max-width: 90%;
    }
}
@media (max-width: 1200px) {
    .cards-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    }
}
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 1fr; /* 1 colonna per dispositivi mobili */
        width: 100%; /* 100% della larghezza disponibile */
        padding: 0 20px; /* Padding per evitare che le card tocchino i bordi */
    }

    .card {
        width: 100%; /* 100% della larghezza disponibile */
        margin: 10px 0; /* Distanza verticale tra le card */
    }
}
.erasmus-banner {
    background: linear-gradient(to bottom right, #b3e0ff, #d6f0ff); 
    color: #0066cc; 
    padding: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 1.4em;
    line-height: 1.5;
    border-radius: 15px; 
    margin: 20px 0; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.erasmus-banner p {
    margin: 0;
    padding: 10px;
}
.erasmus-banner br {
    margin-bottom: 10px;
}
.erasmus-banner .title {
    font-family: 'Roboto', sans-serif; 
    font-size: 1em; 
    font-weight: 700; 
    line-height: 1.2;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    margin: 0;
}


.erasmus-banner .subtitle {
    font-family: 'Roboto', sans-serif; 
    font-size: 0.9em; 
    font-weight: 400; 
    margin-top: 15px;
    font-style: italic; 
}
.erasmus-banner .oid {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em; 
    font-weight: 300; 
    margin-top: 10px;
}
.allegati {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; 
}

.allegati a {
    text-decoration: none;
    color: #616467;
    display: block;
    margin: 5px 0;
}

.allegati a:hover {
    text-decoration: underline;
}
.close-button {
    margin-top: 8px;
    padding: 5px 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-button:hover {
    background-color: #007bff;
}
